@import '../../variables.scss';

.item {
  position: relative;
  border-radius: 30px;
  background: $color-turquoise;
  box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.07);
  transition: 0.2s linear;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &:nth-child(2n) {
    background: $color-pink;
  }

  &:active {
    transform: translate(0, 5px);
  }

  &:hover {
    .array {
      transform: scaleY(-1);
    }
  }

  .link {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 210px;

    .block {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 20px;

      .subtitle {
        margin-bottom: 6px;
        color: $color-grey-dark;
        font-size: 24px;
        font-weight: 400;
      }

      .span {
        display: inline-block;
        color: $color-grey-light;
        font-size: 14px;
        font-weight: 400;
      }

      .array {
        width: 40px;
        height: 40px;
        transition: transform 0.6s ease;
      }
    }
  }

  .icon {
    width: 100%;
    max-width: 120px;
    height: 100%;
    max-height: 120px;
  }
}
