// colors
$color-white: #fff;
$color-turquoise: #d6f7f7;
$color-pink: #fdd;
$color-turquoise-dark: #31d6d6;
$color-grey-light: #9d9d9d;
$color-grey: #616160;
$color-grey-dark: #333;
$color-grey-skeleton: #cdcbcb81;
$color-count-btn: #f2efef;
$color-link: #004080;
